<div class="jumbotron">
    <h1>Excellent =)</h1>
    <%= link_to 'Login', new_user_session_path, class: 'btn btn-info' %>
    <%= link_to 'Join', new_user_registration_path, class: 'btn btn-info' %>
</div>

<p>This will be a workable app someday.</p>
<p>Currently under lessons. Let's hope things <strong>don't</strong> break along the way!</p>